.container_about{
    width:100%;
}
.contact_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/chechout.png);
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
}

.center_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center_contact img {
    margin-top: 3rem;
}

.contact_bg nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding: 0;
}

.contact_bg nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-weight: 700;
}

.contact_bg li a {
    display: flex;
}

.contact_bg nav ul li a {
    color: #000;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_bg nav ul li:last-child a {
    font-weight: 500;
    color: #1d1d1d;
}
.special_header{
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.special_header h1{
    margin: 1rem;
}
.special_header p{
    width: 50%;
    margin: 0;
    font-size: 16px;
    color: #9F9F9F;
}.all_contact{
    display: flex;
    gap:4rem;
    justify-content: center;
    margin-top: 4rem;
    padding: 4rem;

}.all{
   display: flex;
   gap: 2rem;
   align-items: center;
   margin-bottom: 1rem;
}
.all img {
    width: 24px;
    display: block  ;
}
.all p {
    font-weight: 800;
    padding: 0;
}
.all span {
    color: #898989;
}
.all_contact form{
    display: flex;
    gap:1rem;
    flex-direction: column;
    width: 40%;
}.all_contact form label{
    font-weight: 700;
}
.all_contact form input,textarea{
    padding: 1rem;
    width: 90%;
    border-radius: 20px;
    outline: none;
    border: 1px solid #9F9F9F;
}.all_contact form input:focus,
textarea:focus{
    border: 1px solid #B88E2F;
}
.all_contact form button[type="submit"]{
    padding: 1rem;
    border-radius: 20px;
    background-color: #B88E2F;
    cursor: pointer;
    outline: none;
    border: none;
    width: 30%;
    font-size: 16px;
    font-weight: 500;
    color:#fff;
}
button[type="submit"]:hover{
    opacity: 0.9;
}