table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
}

table thead tr {
    background-color: #F9F1E7;
    border-bottom: 2px solid #dddddd;
}

table th,
table td {
    padding: 12px;
}

table th {
    background-color: #F9F1E7;
    color: #8C7C7C;
    font-weight: 500;
}

td,
tr {
    color: #000000;
    font-weight: 700;
    
}td{
    max-width: 60px;
}
.table-container .actions{
    color: rgb(39, 39, 93);
    font-size: 22px;
    cursor: pointer;
    position:relative;
}.action-icon{
    position: absolute;
    top:50%;
    transform: translate(-50%, -50%);

}
.edit-icon {
    left: 36%;
}
.delete-icon {
    right: 34%;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

table img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px
}
.no-data {
    text-align: center;
    color: #777;
}